.page {
   display: flex;
   flex-direction: column;
   margin-bottom: 60px;
}

.rightTitle {
   margin-left: 150px;
   font-size: 27px;
   font-weight: 700;
   background: $right-title-background;
   color: $right-title-color;
   text-transform: uppercase;
   border-radius: 40px 0 0 40px;
   i {
      margin: 2px 40px 2px 2px;
      padding: 10px;
      font-size: 27px;
      background: $right-icon-background;
      color: $right-icon-color;
      border-radius: 50%;
   }
}

.pageItem {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   margin-left: 170px;
   padding-top: 30px;
}

.speciality {
   padding-bottom: 5px;
   font-size: 22px;
   text-transform: uppercase;
   i {
      padding-right: 40px;
      font-size: 22px;
      color: $speciality-icon;
      cursor: pointer;
   }
}

.pageInfo {
   padding-left: 68px;
   margin-left: 170px;
}

.date {
   padding-right: 20px;
   font-size: 17px;
   font-style: oblique;
}

.pageSubTit {
   padding-bottom: 5px;
   font-style: oblique;
   font-size: 19px;
}

.pageText {
   font-style: italic;
   font-size: 17px;
}